<h1 mat-dialog-title>Update Task</h1>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="updatedName" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onUpdate()" [disabled]="saving">
        <ng-container *ngIf="saving">Updating...</ng-container>
        <ng-container *ngIf="!saving">Update</ng-container>
    </button>
</mat-dialog-actions>
