<h1>All Tasks</h1>
<button mat-raised-button color="primary" class="create-task-button" (click)="openCreateTaskDialog()"><mat-icon>add</mat-icon> Create Task</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Task Name </th>
    <td mat-cell *matCellDef="let task"> {{task.name}} </td>
</ng-container>

<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let task"> {{task.description}} </td>
</ng-container>

<ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let task">
        <status-chip [status]="task.status"></status-chip>
    </td>
</ng-container>

<ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> Created </th>
    <td mat-cell *matCellDef="let task"> {{task.created | date:'d MMMM y, HH:mm:ss'}} </td>
</ng-container>

<ng-container matColumnDef="progressPercentage">
    <th mat-header-cell *matHeaderCellDef> Progress </th>
    <td mat-cell *matCellDef="let task">
        <mat-progress-bar *ngIf="task.status === TaskStatus.InProgress || task.status === TaskStatus.Paused || task.status === TaskStatus.Completed" mode="determinate" [value]="task.progressPercentage"></mat-progress-bar>
    </td>
</ng-container>

<ng-container matColumnDef="results">
    <th mat-header-cell *matHeaderCellDef> Results </th>
    <td mat-cell *matCellDef="let task"> {{task.results}} </td>
</ng-container>

<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let task">
        <button
                *ngIf="task.status === TaskStatus.NotStarted || task.status === TaskStatus.Paused"
                mat-icon-button
                (click)="updateTaskStatus(task.id, TaskStatus.InProgress)"
                [matTooltip]="task.status === TaskStatus.NotStarted ? 'Run task' : 'Resume task'">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button
                *ngIf="task.status === TaskStatus.InProgress"
                mat-icon-button
                (click)="updateTaskStatus(task.id, TaskStatus.Paused)"
                matTooltip="Pause task">
            <mat-icon>pause</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="moreActionsMenu" matTooltip="More actions">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #moreActionsMenu="matMenu">            
            <button mat-menu-item (click)="openUpdateTaskDialog(task)">
                <mat-icon>edit</mat-icon> Edit task
            </button>
            <button mat-menu-item *ngIf="task.status === TaskStatus.NotStarted || task.status === TaskStatus.InProgress || task.status === TaskStatus.Paused" (click)="updateTaskStatus(task.id, TaskStatus.Cancelled)">
                <mat-icon>stop</mat-icon> Cancel task
            </button>
            <button mat-menu-item *ngIf="task.status === TaskStatus.Cancelled" (click)="updateTaskStatus(task.id, TaskStatus.InProgress)">
                <mat-icon>play_arrow</mat-icon> Run task
            </button>
            <button mat-menu-item (click)="openDeleteTaskDialog(task)">
                <mat-icon>delete</mat-icon> Delete task
            </button>
        </mat-menu>

    </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>